#!/usr/bin/env ruby

#Put your database info here
$dbName = ""
$dbUser = ""
$dbtoken = ""

### FOR SLACK ###

#here put a list of all your app's verification codes, from all the teams you've uploaded it to
team1Verify = ""
team2Verify = ""
#... etc

#here put all your oauth tokens
team1Token = ""
team2Token = ""
#... etc

$tokenMap = { team1Verify => team1Token, team2Verify => team2Token } #... etc

#here put your table names from your karma db (1 table per team)
$tableMap = { team1Verify => '', team2Verify => '' } #... etc

# list any aliases that should collapse down to one item (the first) for tracking karma
$aliases = [["name1", "name2"], ["alice", "bob"]]

#### FOR DISCORD ####
# For now, this bot only supports one single server
$discordToken = ""
$discordTableName = ""
$discordServerId = ""